{% extends 'base.html.twig' %}

{% block title %}Administrateur{% endblock %}

{% block contenu %}

<div class="container">
            </br><center><h1>Ajouter Un Administrateur <i class="fas fa-plus"></i></h1></center></br>


    {{ include('administrateur/_form.html.twig') }}


    </div>
{% endblock %}
