{% extends 'base.html.twig' %}

{% block title %}Edit CategorieChambres{% endblock %}

{% block body %}
    <h1>Edit CategorieChambres</h1>

    {{ include('categorie_chambres/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_categorie_chambres_index') }}">back to list</a>

    {{ include('categorie_chambres/_delete_form.html.twig') }}
{% endblock %}
