{% extends 'base.html.twig' %}

{% block title %}edit Gerant{% endblock %}

{% block contenu %}
<div class="container">

     </br><center><h1>Modifer Une Reservation <i class="fas fa-hotel"></i></h1></center></br>

    {{ include('reservation/_form.html.twig', {'button_label': 'SAUVEGARDER'}) }}<br><br>

    {{ include('reservation/_delete_form.html.twig') }}
{% endblock %}
