{% extends 'base.html.twig' %}

{% block title %}New Motel{% endblock %}

{% block contenu %}
    <div class="container">

        </br><center><h1>Ajout d'une Reservation <i class="fas fa-plus"></i></h1></center></br>

    {{ include('reservation/_form.html.twig') }}

    </div>
{% endblock %}
