{% extends 'base.html.twig' %}

{% block title %}edit Responsable{% endblock %}

{% block contenu %}
<div class="container">

     </br><center><h1>Modifer Un Responsable <i class="fas fa-pencil-alt"></i></h1></center></br>

    {{ include('responsable/_form.html.twig', {'button_label': 'SAUVEGARDER'}) }}<br><br>

    {{ include('responsable/_delete_form.html.twig') }}
{% endblock %}
