{% extends 'base.html.twig' %}

{% block title %}New Responsable{% endblock %}

{% block contenu %}

        <div class="container">

        </br><center><h1>Ajouter Un Responsable <i class="fas fa-plus"></i></h1></center></br>

        {{ include('responsable/_form.html.twig') }}<br><br>
        
        </div>

{% endblock %}
