{% extends 'base.html.twig' %}

{% block title %}New Responsable{% endblock %}

{% block contenu %}

        <div class="container">

        </br><center><h1>Ajouter Un Vente <i class="fas fa-plus"></i></h1></center></br>

        {{ include('ventes/_form.html.twig') }}
        
        </div>

{% endblock %}
