{% extends 'base.html.twig' %}

{% block title %}Client{% endblock %}

{% block contenu %}
    <div class="container">

        </br><center><h1>Ajouter Un Client <i class="fas fa-plus"></i></h1></center></br>

    {{ include('client/_form.html.twig') }}

    </div><br><br>

{% endblock %}
