{% extends 'base.html.twig' %}

{% block title %}New Gerant{% endblock %}

{% block contenu %}
    <div class="container">

        </br><center><h1>Ajouter Un Gérant <i class="fas fa-plus"></i></h1></center></br>

    {{ include('gerant/_form.html.twig') }}

    </div>

{% endblock %}
