{% extends 'base.html.twig' %}

{% block title %}Edit Motel{% endblock %}

{% block body %}
    <h1>Edit Motel</h1>

    {{ include('motel/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_motel_index') }}">back to list</a>

    {{ include('motel/_delete_form.html.twig') }}
{% endblock %}
