{% extends 'base.html.twig' %}

{% block title %}New Motel{% endblock %}

{% block contenu %}
    <div class="container">

        </br><center><h1>Ajouter Un Motel <i class="fas fa-plus"></i></h1></center></br>

    {{ include('motel/_form.html.twig') }}

    </div>
{% endblock %}
