{% extends 'base.html.twig' %}

{% block title %}Edit Chambres{% endblock %}

{% block contenu %}
<div class="container">

     </br><center><h1>Modifer Une Chambre <i class="fas fa-pencil-alt"></i></h1></center></br>

    {{ include('chambres/_form.html.twig', {'button_label': 'MODIFIER'}) }}

    {# <a href="{{ path('app_chambres_index') }}">back to list</a>

    {{ include('chambres/_delete_form.html.twig') }} #}
{% endblock %}
