{% extends 'base.html.twig' %}

{% block title %}Client {% endblock %}

{% block contenu %}
    <div class="container">

        </br><center><h1>Ajouter Une Chambre <i class="fas fa-plus"></i></h1></center></br>

    {{ include('chambres/_form.html.twig') }}
    

    </div>
{% endblock %}
