{% extends 'base.html.twig' %}

{% block title %}Comptable{% endblock %}

{% block contenu %}
    <div class="container">

        </br><center><h1>Ajouter Un Comptable <i class="fas fa-plus"></i></h1></center></br>

    {{ include('comptable/_form.html.twig') }}

    </div><br><br>

{% endblock %}
